<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.diyan.mapper.SysAdminMapper">
	<select id="getBooks" parameterType="books" resultType="books">
		SELECT b.`id`,b.`bname`,b.`number`,b.`author`,b.`birth`,b.`edition`,s.`sname` FROM books b INNER JOIN sorts s ON b.`sid`=s.`id` 
		<where>
			<if test="bname!=null and bname!=''">
				and  b.`bname` like "%${bname}%"
			</if>
			<if test="sid!=null and sid!=''">
				and b.`sid`=#{sid}
			</if>
		</where>
	</select>
	
	<insert id="addBooks" parameterType="books" >
		INSERT INTO books
            (
             `bname`,
             `sid`,
             `number`,
             `author`,
             `birth`,
             `edition`)
VALUES (
        #{bname},
       #{sid} ,
        #{number},
        #{author},
        #{birth},
        #{edition})
	</insert>
	
	<select id="getBookById" parameterType="int" resultType="books">
		SELECT b.`sid`,b.`id`,b.`bname`,b.`number`,b.`author`,b.`birth`,b.`edition`,s.`sname` FROM books b INNER JOIN sorts s ON b.`sid`=s.`id` 
		where b.`id`=#{id}
	</select>
	
	<update id="updateBooks" parameterType="books">
		UPDATE `books`
SET 
  `bname` = #{bname},
  `sid` = #{sid},
  `number` = #{number},
  `author` = #{author},
  `birth` = #{birth},
  `edition` =#{edition}
WHERE `id` = #{id}
	</update>
	
	<delete id="deleteBooks">
		DELETE
FROM `books`
WHERE `id` = #{id}
	</delete>
	
	<!-- 下面是用户SQL -->
	<select id="getUsers" parameterType="users" resultType="users">
		SELECT
  *
FROM `users`
		<where>
			<if test="uname!=null and uname!=''">
				and uname like "%${uname}%"
			</if>
		</where>
	</select>
	
	<insert id="addUsers" parameterType="users">
		INSERT INTO `users`
            (
             `uname`,
             `code`,
             `password`)
VALUES (
        #{uname},
        #{code},
        #{password})
	</insert>
	
	<select id="getUserById" parameterType="int" resultType="users">
				SELECT
  *
FROM `users` where id=#{id}
	</select>
	
	<update id="updateUser" parameterType="users">
		UPDATE `users`
SET
  `uname` = #{uname},
  `code` = #{code},
  `password` = #{password}
WHERE `id` = #{id};
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete
from `users`
where `id` = #{id};
	</delete>
	
	<select id="getSysAdmin" parameterType="users" resultType="sysAdmin">
				SELECT
  `id`,
  `uname`,
  `code`,
  `password`
FROM `sysadmin` WHERE   `code`=#{code} AND   `password`=#{password}
	</select>
	
	<select id="selectUsers" parameterType="string" resultType="int">
		SELECT
   COUNT(`id`)
FROM `users` WHERE `code`=#{code}
		
	</select>

</mapper>
